[submodule "COMP2017/week1/exercises/min-max-and-sum"]
	path = COMP2017/week1/exercises/min-max-and-sum
	url = git.edstem.org:challenge/79728/min-max-and-sum
[submodule "COMP2017/week1/exercises/rot-13"]
	path = COMP2017/week1/exercises/rot-13
	url = git.edstem.org:challenge/79729/rot-13
[submodule "COMP2017/Assignment_1/go-in-the-mist"]
	path = COMP2017/Assignment_1/go-in-the-mist
	url = git.edstem.org:challenge/80955/go-in-the-mist
[submodule "COMP2017/Assignment_1/go-in-the-mist-scaffold"]
	path = COMP2017/Assignment_1/go-in-the-mist-scaffold
	url = git.edstem.org:challenge/80955/scaffold/go-in-the-mist-scaffold
